<div class="container">
    <div class="banner-image-abaut">
        <img src="@Url.Content("~/Images/Autos.png")" class="img-responsive img-fluid" alt="">
        <h1 id="TituloNosotros">Nosotros</h1>
    </div>
    <br />
    <div class="row">
        <div class="col align-self-center p-3 mb-2 bg-light text-dark">
            <h1 class="text-left">CONOCENOS</h1>
            <p>
                Nace en el año 1997 con el nombre de Transportes Micha como persona natural, iniciando su servicio en el transporte de ganado vacuno en la ruta Cajamarca - Lima y carga diversa de Lima – Cajamarca, de esta manera hemos ganado experiencia en el transporte de carga diversa y manteniéndose hasta la fecha en el campo empresarial.

                En el año 2004 fue constituida legalmente como persona jurídica con la razón social de TRANSMI EIRL brindando el servicio de transporte de materiales peligrosos, carga líquida y seca, ofreciendo a nuestros clientes el mejor trato y atención con la entrega oportuna del producto y/o mercancías.
            </p>

        </div>
        <div class="col align-self-start">
            <img src="@Url.Content("~/Images/Nosotros1.jpg")" class="img-responsive img-fluid" alt="">
        </div>
    </div>
    <div class="col align-self-center p-3 mb-2 bg-light text-dark">
        <h1 class="text-left">NUESTROS VALORES Y SERVICIOS</h1>
        <strong>
            Apasiona el servicio a nuestros clientes
        </strong>
        <p>
            Somos absolutamente conscientes que existimos gracias a ellos.
        </p>
        <strong>
            Somos perseverantes para lograr resultados
        </strong>
        <p>
            Queremos más para nuestros clientes y nos esforzamos en solucionar sus necesidades, por más difíciles o imposibles que estas parezcan.
        </p>
        <strong>
            Prácticamos la integridad
        </strong>
        <p>
            Hacemos lo correcto, con responsabilidad y disciplina, dentro y fuera de la compañía, mostrando siempre transparencia en cada una de las actividades que realizamos.
        </p>
        <strong>
            Perseguimos la excelencia
        </strong>
        <p>
            Buscamos la perfección en cada una de nuestras actividades, con el objetivo de que el cliente encuentre absoluta satisfacción.
        </p>
        <strong>
            Somos flexibles, creativos e innovadores
        </strong>
        <p>
            Pensamos continuamente en soluciones innovadoras que podamos ofrecer a nuestros clientes, que le aporten mayor valor a su negocio.
        </p>
        <strong>
            Mantenemos comunicados
        </strong>
        <p>
            Desarrollamos de forma efectiva los canales de comunicación, de tal manera que se permita tomar decisiones correctas y en el tiempo adecuado.
        </p>
        <strong>
            Optimizamos el uso de nuestros recursos
        </strong>
        <p>
            Perseguimos la optimización de procesos y recursos, bajo una cultura de ahorro.
        </p>
    </div>
    <div class="col align-self-center p-3 mb-2 bg-light text-dark">
        <h1 class="text-left">NUESTRA POLÍTICA INTEGRAL DE CALIDAD, SEGURIDAD-SALUD OCUPACIONAL Y MEDIO AMBIENTE</h1>
        TRANSMI E.I.R.L. es una empresa dedicada a brindar servicios de transporte terrestre de materiales peligrosos y carga en general; para ello contamos con los siguientes compromisos:
        <div class="col-lg-12 col-xs-12">
            <p>
                *Satisfacer las necesidades de nuestros clientes a través del cumplimiento de sus requisitos, cumpliendo estándares de Calidad, Seguridad, Salud Ocupacional y Medio Ambiente en cada uno de nuestros procesos.
            </p>
            <p>
                *Trabajar protegiendo la seguridad y salud de los trabajadores de la organización, visitantes y contratistas mediante la prevención, reduciendo y eliminando los riesgos que pudieran ocasionar las lesiones, dolencias, daños y deterioros a la salud, enfermedades e incidentes relacionados con el trabajo identificando permanentemente los peligros, evaluando riesgos, aplicando controles sobre ellos en todas nuestras actividades desarrolladas.
            </p>
            <p>
                *Brindar la protección al medio ambiente y la prevención de la contaminación durante el desarrollo de nuestras actividades, identificando permanentemente los aspectos e impactos ambientales, aplicando controles sobre ellos y teniendo un uso sostenible de los recursos.
            </p>
            <p>
                *Cumplir con los requisitos legales aplicables a la organización en Calidad, Seguridad, Salud Ocupacional y Medio Ambiente y otros suscritos voluntariamente.
            </p>
            <p>
                *Incentivar a la mejora continua en el desempeño de todos procesos del Sistema Integrado de Gestión por medio de la participación y consulta de nuestros colaboradores, sus representantes y partes interesadas.
            </p>
        </div>
        <p>Asimismo, la Gerencia General de TRANSMI EIRL se compromete con difundir la Política del Sistema Integrado de Gestión en todos los niveles de la organización y asegurar que la misma sea entendida y aplicada.</p>
    </div>

</div>
