<div class="container">
    <div class="banner-image-abaut">
        <img src="@Url.Content("~/Images/ServiciosPort.png")" class="img-responsive img-fluid" alt="">
        <h1 id="TituloServicios">Servicios</h1>
    </div>
    <br />
    <div class="row">
        <div class="col align-self-start">
            <img src="@Url.Content("~/Images/Services.png")" class="img-responsive img-fluid" alt="">
        </div>
        <div class="col align-self-center p-3 mb-2 bg-light text-dark">
            <h1 class="text-left">OFRECEMOS A NUESTRA CLIENTELA...</h1>
            <p>
                Los servicios de transportes para diferentes productos y/o mercadería, entre los que destacan el transporte de carga liquida, materiales peligros y carga seca, así como el alquiler de camionetas 4x4 quipadas para floteo de camiones cargados, operados por un equipo de profesionales altamente calificados y con la experiencia necesaria para cumplir con el servicio en las diferentes operaciones que ofrecemos, asegurando la completa integridad de su producto entregado a destino.
            </p>
        </div>

    </div>
    <div class="col align-self-center p-3 mb-2 bg-light text-dark">
        <div class="col-md-12 text-center">
            <strong>
                "Sí buscas un trato diferente y tu producto siempre a tiempo..."
            </strong>
        </div>
        
    </div>
</div>