<div>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 id="TituloFormularioPaquete">Formulario de paquete</h1>
            <form action="/tracking/ViewPackages" method="get">
                <div class="mb-3">
                    <label for="IdPaquete">Ingrese el contenido:</label>
                    <input type="text" class="form-control" name="IdPaquete" id="IdPaquete">
                </div>
                <button class="btn btn-primary">Buscar</button>
            </form>
            <br />
            <table class="table">
                <caption> </caption>
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Contenido</th>
                        <th>Ciudad de origen</th>
                        <th>Ciudad meta</th>
                        <th>Opciones</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.PaqueteId</td>
                            <td>@item.Contenido</td>
                            <td>@item.CiudadOrigen</td>
                            <td>@item.CiudadMeta</td>
                            <td>
                                <a href="/tracking/UpdatePackage/?ID=@item.PaqueteId" class="btn btn-primary">
                                    Agregar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>